body {
	font-family: "Oxygen", sans-serif;
}

.intro {
	padding-bottom: 7%;
}

.intro i {
	float: left;
	margin-top: 2%;
}

.intro, h1 h2 {
	letter-spacing: 0.3em;
	color: #2d3c49;
}

.intro h1 {
	font-size: 300%;
}

.intro h2 {
	font-weight: 300;
}

.intro-to-work h2{
	padding-top: 3%;
	font-weight: 300;
}

.social-links {
	background-color: #dcdcdc;
	padding: 1%;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
}

a:visited {
	color: inherit;
}
