body {
 font-family: 'Source Sans Pro', sans-serif;
 background-color: #e9ece5;
}
.intro {
  padding: 3em;
  background: #3b3a36;
  color: #fff;
  position: relative;
  z-index: 1;
}
.intro:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}
.intro h1{
 font-size: 8em;
 letter-spacing: 0.1em;
 line-height:1.5em;
}
.intro h2 {
 font-size: 3em;
 letter-spacing:0.09em;
}
.info {
 background-color: #e9ece5;
 padding-top: 5em;
}
.info img {
 margin-bottom: 3em;
}
.contact {
 color: #fff;
 background-color: #3b3a36;
 padding: 3em;
}
.contact a {
 color: #fff;
}
.contact a:hover {
 filter: brightness(85%);
}